/*
 * @Description: 蓝色主题
 * @Autor: HuiSir<273250950@qq.com>
 * @Date: 2021-09-09 16:36:58
 * @LastEditTime: 2021-09-14 11:22:42
 */
:root {
    /* 自定义 */
    --sidebar-bgcolor:#2f3447;
    --navbar-bgcolor:#fff;

    /* primary color */
    --color-primary: #409eff;
    --color-primary-light-1: #53a8ff;
    --color-primary-light-2: #66b1ff;
    --color-primary-light-3: #79bbff;
    --color-primary-light-4: #8cc5ff;
    --color-primary-light-5: #a0cfff;
    --color-primary-light-6: #b3d8ff;
    --color-primary-light-7: #c6e2ff;
    --color-primary-light-8: #d9ecff;
    --color-primary-light-9: #ecf5ff;
}