/*
 * @Description: 黑色主题
 * @Autor: HuiSir<273250950@qq.com>
 * @Date: 2021-09-09 16:37:06
 * @LastEditTime: 2021-10-22 17:42:30
 */
:export {
  /* primary color */
  --el-color-primary: #409eff;
  --el-color-primary-light-1: #53a8ff;
  --el-color-primary-light-2: #66b1ff;
  --el-color-primary-light-3: #79bbff;
  --el-color-primary-light-4: #8cc5ff;
  --el-color-primary-light-5: #a0cfff;
  --el-color-primary-light-6: #b3d8ff;
  --el-color-primary-light-7: #c6e2ff;
  --el-color-primary-light-8: #d9ecff;
  --el-color-primary-light-9: #ecf5ff;

  /* bg color */
  --el-background-color-base: #3d435a;

  /* 自定义 */
  --color-navbar-bg: var(--el-background-color-base);
  --color-tabbar-item-bg: var(--el-background-color-base);
  --color-content-bg: var(--el-background-color-base);

  /* 导航栏 */
  --color-sidebar-bg: #2f3447;
  --color-sidebar-font: var(--el-color-info-lighter);
  --color-sidebar-menu-bg-hover: var(--el-color-primary);
  --color-sidebar-menu-font-hover: var(--el-color-white);
  --color-sidebar-menu-font-active: var(--el-color-primary-light-4);
}
