/*
 * @Description: 蓝色主题
 * @Autor: HuiSir<273250950@qq.com>
 * @Date: 2021-09-09 16:36:58
 * @LastEditTime: 2022-01-13 14:44:23
 */

//  blue.module.scss  名称包含module才能将css用export导出，在js中导入

:export {
  /* primary color */
  --el-color-primary: #409eff;
  --el-color-primary-light-1: #53a8ff;
  --el-color-primary-light-2: #66b1ff;
  --el-color-primary-light-3: #79bbff;
  --el-color-primary-light-4: #8cc5ff;
  --el-color-primary-light-5: #a0cfff;
  --el-color-primary-light-6: #b3d8ff;
  --el-color-primary-light-7: #c6e2ff;
  --el-color-primary-light-8: #d9ecff;
  --el-color-primary-light-9: #ecf5ff;

  /* bg color */
  --el-background-color-base: #f5f7fa;

  /* 导航栏 */
  --color-sidebar-bg: #133c66;
  --color-sidebar-font: var(--el-color-info-lighter);
  --color-sidebar-menu-bg-hover: var(--el-color-primary);
  --color-sidebar-menu-font-hover: var(--el-color-white);
  --color-sidebar-menu-font-active: var(--el-color-primary-light-2);

  /* 自定义 */
  --color-content-bg: var(--el-color-white);

  /* navbar */
  --color-navbar-bg: var(--el-color-white);
  --color-navbar-text: var(--el-text-color-regular);
  --color-navbar-text-hov: var(--el-color-primary);

  /* tabbar */
  --color-tabbar-bg: var(--el-color-white);
  --color-tabbar-font: var(--el-text-color-secondary);
  --color-tabbar-font-act: var(--el-text-color-regular);
  --color-tabbar-border: var(--color-grey-lighter);
  --color-tabbar-circle: var(--el-border-color-base);
  --color-tabbar-circle-hov: var(--el-color-primary-light-5);
  --color-tabbar-circle-act: var(--el-color-primary);

  /* 表格 */
  --color-table-thead-bg: #fafafa;
}
