@import "@/assets/styles/mixin.scss";
.file-library-btn {
  cursor: pointer;
  display: inline-flex;
}
.file-library-dialog-cont {
  display: flex;
  height: 65vh;
  .left {
    display: flex;
    flex-direction: column;
    .btn-group {
      margin-bottom: 15px;
      display: flex;
      & > * {
        max-width: 150px;
        margin-right: 10px;
        margin-left: 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .pic-list-box {
      @include scrollBar;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;
      overflow-y: auto;
    }

    .thumbnail {
      position: relative;
      border: var(--el-border);
      border-radius: var(--el-border-radius-small);
      cursor: pointer;
      .pic-item {
        padding: 5px;
        width: 100%;
        height: 100%;
        &:deep(img) {
          border-radius: var(--el-border-radius-small);
        }
      }
      &.selected {
        background: var(--el-color-primary-light-7);
      }
      &.upload {
        border: 1px dashed var(--el-border-color-base);
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          border-color: var(--el-color-primary);
        }
      }
    }
  }
  .right {
    background: var(--el-color-info-light-9);
    border-radius: var(--el-border-radius-small);
    padding: 20px;
    overflow-y: auto;
    margin-left: 8px;
    @include scrollBar;

    &:deep(.el-form-item) {
      &:last-child {
        margin-bottom: 0;
      }
    }

    h5 {
      font-weight: bold;
      line-height: 1;
      margin-bottom: 20px;
    }
    .form-item-text {
      font-size: 12px;
      color: var(--el-text-color-secondary);
      line-height: 1;
      margin-top: 6px;
      margin-left: 4px;
    }
    .preview-img {
      position: relative;
      width: 100%;
      height: 120px;
      padding: 3px;
      border: var(--el-border);
      background: var(--el-color-info-light);
      &:hover::after {
        content: "";
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 120px;
        position: absolute;
        top: 0;
        left: 0;
        color: var(--el-color-info-light-9);
        pointer-events: none;
        background: rgba(255, 255, 255, 0.4);
      }
    }
    .preview-icon {
      position: absolute;
      bottom: 10px;
      right: 1px;
      pointer-events: none;
      background: rgba(0, 0, 0, 0.1);
      box-sizing: content-box;
      padding: 2px;
    }
    .upload-inline {
      display: inline;
      cursor: pointer;
      border-bottom: 1px solid var(--el-color-primary);
    }
  }
}
@media screen and (min-width: 1671px) {
  .file-library-dialog-cont {
    .left {
      width: 75%;
      .thumbnail {
        width: 7.2vw;
        height: 7.2vw;
        margin-right: calc(((80vw - 40px) * 0.75 - (7.2vw * 7)) / 7);
        margin-top: calc(((80vw - 40px) * 0.75 - (7.2vw * 7)) / 7);
        &:nth-child(7n) {
          margin-right: 0;
        }
        @for $i from 1 through 7 {
          &:nth-child(#{$i}) {
            margin-top: 0;
          }
        }
      }
    }
    .right {
      width: 25%;
    }
  }
}
@media screen and (max-width: 1670px) and (min-width: 1421px) {
  .file-library-dialog-cont {
    .left {
      width: 70%;
      .thumbnail {
        width: 7.8vw;
        height: 7.8vw;
        margin-right: calc(((80vw - 40px) * 0.7 - (7.8vw * 6)) / 6);
        margin-top: calc(((80vw - 40px) * 0.7 - (7.8vw * 6)) / 6);
        &:nth-child(6n) {
          margin-right: 0;
        }
        @for $i from 1 through 6 {
          &:nth-child(#{$i}) {
            margin-top: 0;
          }
        }
      }
    }
    .right {
      width: 30%;
    }
  }
}
@media screen and (max-width: 1420px) and (min-width: 1171px) {
  .file-library-dialog-cont {
    .left {
      width: 68%;
      .thumbnail {
        width: 9vw;
        height: 9vw;
        margin-right: calc(((80vw - 40px) * 0.68 - (9vw * 5)) / 5);
        margin-top: calc(((80vw - 40px) * 0.68 - (9vw * 5)) / 5);
        &:nth-child(5n) {
          margin-right: 0;
        }
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            margin-top: 0;
          }
        }
      }
    }
    .right {
      width: 32%;
    }
  }
}
@media screen and (max-width: 1170px) and (min-width: 1001px) {
  .file-library-dialog-cont {
    .left {
      width: 65%;
      .thumbnail {
        width: 10.5vw;
        height: 10.5vw;
        margin-right: calc(((80vw - 40px) * 0.65 - (10.5vw * 4)) / 4);
        margin-top: calc(((80vw - 40px) * 0.65 - (10.5vw * 4)) / 4);
        &:nth-child(4n) {
          margin-right: 0;
        }
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            margin-top: 0;
          }
        }
      }
    }
    .right {
      width: 35%;
    }
  }
}
@media screen and (max-width: 1000px) and (min-width: 851px) {
  .file-library-dialog-cont {
    .left {
      width: 60%;
      .thumbnail {
        width: 13vw;
        height: 13vw;
        margin-right: calc(((80vw - 40px) * 0.6 - (13vw * 3)) / 3);
        margin-top: calc(((80vw - 40px) * 0.6 - (13vw * 3)) / 3);
        &:nth-child(3n) {
          margin-right: 0;
        }
        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            margin-top: 0;
          }
        }
      }
    }
    .right {
      width: 40%;
    }
  }
}
@media screen and (max-width: 850px) and (min-width: 701px) {
  .file-library-dialog-cont {
    .left {
      width: 54%;
      .thumbnail {
        width: 12vw;
        height: 12vw;
        margin-right: calc(((80vw - 40px) * 0.54 - (12vw * 3)) / 3);
        margin-top: calc(((80vw - 40px) * 0.54 - (12vw * 3)) / 3);
        &:nth-child(3n) {
          margin-right: 0;
        }
        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            margin-top: 0;
          }
        }
      }
    }
    .right {
      width: 46%;
    }
  }
}
@media screen and (max-width: 700px) and (min-width: 501px) {
  .file-library-dialog-cont {
    flex-direction: column;
    .left {
      margin-right: -12px;
      width: 100%;
      height: 50%;
      .thumbnail {
        width: 20vw;
        height: 20vw;
        margin-right: calc(((80vw - 40px) - (20vw * 3)) / 3);
        margin-top: calc(((80vw - 40px) - (20vw * 3)) / 3);
        &:nth-child(3n) {
          margin-right: 0;
        }
        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            margin-top: 0;
          }
        }
      }
    }
    .right {
      margin-left: 0;
      margin-top: 20px;
      width: 100%;
      height: 50%;
    }
  }
}
@media screen and (max-width: 500px) and (min-width: 401px) {
  .file-library-dialog-cont {
    flex-direction: column;
    .left {
      margin-right: -12px;
      width: 100%;
      height: 50%;
      .thumbnail {
        width: 21vw;
        height: 21vw;
        margin-right: calc(((80vw - 40px) - (21vw * 3)) / 3);
        margin-top: calc(((80vw - 40px) - (21vw * 3)) / 3);
        &:nth-child(3n) {
          margin-right: 0;
        }
        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            margin-top: 0;
          }
        }
      }
    }
    .right {
      margin-left: 0;
      margin-top: 20px;
      width: 100%;
      height: 50%;
    }
  }
}
@media screen and (max-width: 400px) and (min-width: 351px) {
  .file-library-dialog-cont {
    flex-direction: column;
    .left {
      margin-right: -12px;
      width: 100%;
      height: 50%;
      .thumbnail {
        width: 32vw;
        height: 32vw;
        margin-top: calc(((80vw - 40px) - (32vw * 2)) / 2);
        margin-right: calc(((80vw - 40px) - (32vw * 2)) / 2);
        &:nth-child(2n) {
          margin-right: 0;
        }
        &:nth-child(1),
        &:nth-child(2) {
          margin-top: 0;
        }
      }
    }
    .right {
      margin-left: 0;
      margin-top: 20px;
      width: 100%;
      height: 50%;
    }
  }
}
@media screen and (max-width: 350px) {
  .file-library-dialog-cont {
    flex-direction: column;
    .left {
      margin-right: -12px;
      width: 100%;
      height: 50%;
      .thumbnail {
        width: 30.5vw;
        height: 30.5vw;
        margin-top: calc(((80vw - 40px) - (30.5vw * 2)) / 2);
        margin-right: calc(((80vw - 40px) - (30.5vw * 2)) / 2);
        &:nth-child(2n) {
          margin-right: 0;
        }
        &:nth-child(1),
        &:nth-child(2) {
          margin-top: 0;
        }
      }
    }
    .right {
      margin-left: 0;
      margin-top: 20px;
      width: 100%;
      height: 50%;
    }
  }
}
