/*
 * @Description: 基础样式
 * @Autor: HuiSir<273250950@qq.com>
 * @Date: 2021-09-01 16:37:47
 * @LastEditTime: 2021-12-17 09:59:42
 */

/* 自定义变量 */
@import "./variables.scss";

/* base css */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
th,
td,
p {
  margin: 0;
  padding: 0;
  font-weight: var(--el-font-weight-primary);
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  color: var(--el-text-color-primary);
  font-size: var(--el-font-size-base);
  line-height: var(--el-font-line-height-primary);
  background: var(--el-background-color-base);
  overflow: hidden;
}

img {
  border: 0;
  vertical-align: middle;
}

p {
  word-wrap: break-word;
}

ul,
ol {
  list-style: none;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline-style: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: var(--el-font-line-height-primary);
}

h1 {
  font-size: 27px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 12px;
}

.el-dialog {
  .el-dialog__header {
    padding: 12px 20px;
    line-height: 1;
    background: var(--color-sidebar-bg);
    .el-dialog__title {
      color: var(--color-sidebar-font);
      font-size: var(--el-font-size-medium);
    }
    .el-dialog__headerbtn {
      top: 16px;
      .el-dialog__close {
        color: var(--color-sidebar-font);
      }
    }
  }
  .el-dialog__body {
    padding: var(--el-dialog-padding-primary);
  }
  .el-dialog__footer {
    background: #ecf0f1;
    padding: 10px 20px 14px;
  }
}

.el-popconfirm__main {
  margin-bottom: 10px;
}
.el-input__prefix,
.el-input__suffix,
.el-input__prefix-inner,
.el-input__suffix-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}

.el-input .el-input__icon {
  line-height: 1 !important;
  height: unset !important;
}
.el-input .el-input__icon.el-input__validateIcon {
  display: none;
}
