/*
 * @Description: 基础样式
 * @Autor: HuiSir<273250950@qq.com>
 * @Date: 2021-09-01 16:37:47
 * @LastEditTime: 2021-10-25 16:10:52
 */

/* 自定义变量 */
@import "./variables.scss";

/* base css */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
th,
td,
p {
  margin: 0;
  padding: 0;
  font-weight: var(--el-font-weight-primary);
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  color: var(--el-text-color-primary);
  font-size: var(--el-font-size-base);
  line-height: var(--el-font-line-height-primary);
  background: var(--el-background-color-base);
  overflow: hidden;
}

img {
  border: 0;
  vertical-align: middle;
}

p {
  word-wrap: break-word;
}

ul,
ol {
  list-style: none;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline-style: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: var(--el-font-line-height-primary);
}

h1 {
  font-size: 27px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 12px;
}

.el-dialog__body {
  padding: 15px var(--el-dialog-padding-primary)
    calc(var(--el-dialog-padding-primary)) var(--el-dialog-padding-primary);
}
.el-popconfirm__main {
  margin-bottom: 10px;
}
.el-table {
  --el-table-current-row-background-color: var(--el-color-primary-light-5);
}
