.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-align-center{
    align-items: center;
}
.flex-justify-center{
    justify-content: center;
}
.flex-between{
    justify-content: space-between;
}
.flex-around{
    justify-content: space-around;
}
@for $i from 1 through 20 {
    .mr-#{$i} { margin-right: 1px * $i; }
    .ml-#{$i} { margin-left: 1px * $i; }
    .m-#{$i} { margin: 1px * $i; }
}