/*
 * @Description: element-ui-css重写
 * @Autor: HuiSir<273250950@qq.com>
 * @Date: 2022-01-18 17:27:44
 * @LastEditTime: 2022-01-18 17:28:46
 */

@import "./mixin.scss";

.el-dialog {
  .el-dialog__header {
    padding: 12px 20px;
    line-height: 1;
    background: var(--color-sidebar-bg);
    .el-dialog__title {
      color: var(--color-sidebar-font);
      font-size: var(--el-font-size-medium);
    }
    .el-dialog__headerbtn {
      top: 16px;
      .el-dialog__close {
        color: var(--color-sidebar-font);
      }
    }
  }
  .el-dialog__body {
    padding: var(--el-dialog-padding-primary);
    max-height: 60vh;
    overflow-y: auto;
    @include scrollBar;
  }
  .el-dialog__footer {
    background: #ecf0f1;
    padding: 10px 20px 14px;
  }
}

.el-popconfirm__main {
  margin-bottom: 10px;
}
.el-input__prefix,
.el-input__suffix,
.el-input__prefix-inner,
.el-input__suffix-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}

.el-input .el-input__icon {
  line-height: 1 !important;
  height: unset !important;
}
.el-input .el-input__icon.el-input__validateIcon {
  display: none;
}

.el-select-dropdown__item {
  & > i.el-icon {
    line-height: 39px;
  }
  &.selected > * {
    color: var(--el-color-primary);
  }
}

.el-button.is-plain {
  --el-button-border-color: var(--el-color-primary-light-8);
}

.el-card {
  --el-card-padding: 14px;
}
