/*
 * @Description: 公共样式变量
 * @Autor: HuiSir<273250950@qq.com>
 * @Date: 2021-09-01 16:37:47
 * @LastEditTime: 2021-09-14 17:59:18
 */

/* sass variables */
$--color-blue: #3a71a8 !default;
$--color-blue-dark: #324157 !default;
$--color-blue-light: #79bbff !default;
$--color-blue-lighter: #b3d8ff !default;
// ---
$--color-red: #c03639 !default;
$--color-red-light: #f56c6c !default;
$--color-red-lighter: #f8bcbc !default;
// ---
$--color-pink: #f0468d !default;
$--color-pink-light: #f58eb9 !default;
$--color-pink-lighter: #f6b2cf !default;
// ---
$--color-green: #67c23a !default;
$--color-green-light: #96fbd1 !default;
$--color-green-lighter: #e1f3d8 !default;
// ---
$--color-yellow: #fec171 !default;
$--color-yellow-light: #f1eca7 !default;
$--color-yellow-lighter: #faecd8 !default;
// ---
$--color-grey: #909399 !default;
$--color-grey-light: #ccc !default;
$--color-grey-lighter: #f4f4f5 !default;

/** 
 *public root style variables 
 */
:root {
  //base color
  --color-blue: #{$--color-blue};
  --color-blue-dark: #{$--color-blue-dark};
  --color-blue-light: #{$--color-blue-light};
  --color-blue-lighter: #{$--color-blue-lighter};
  --color-red: #{$--color-red};
  --color-red-light: #{$--color-red-light};
  --color-red-lighter: #{$--color-red-lighter};
  --color-pink: #{$--color-pink};
  --color-pink-light: #{$--color-pink-light};
  --color-pink-lighter: #{$--color-pink-lighter};
  --color-green: #{$--color-green};
  --color-green-light: #{$--color-green-light};
  --color-green-lighter: #{$--color-green-lighter};
  --color-yellow: #{$--color-yellow};
  --color-yellow-light: #{$--color-yellow-light};
  --color-yellow-lighter: #{$--color-yellow-lighter};
  --color-grey: #{$--color-grey};
  --color-grey-light: #{$--color-grey-light};
  --color-grey-lighter: #{$--color-grey-lighter};
}
